.title {
    font-size: 30px;
    font-weight: 600;
    display: inline-flex;
    align-items: first baseline;
}

.content {
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

.todo {
    background-color: white;
}
